<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.account.member.AccountMemberMapper">

    <resultMap id="accountMemberMap" type="org.scoula.domain.account.member.AccountMemberVO">
        <id property="accountId" column="account_id"/>
        <id property="userName" column="name"/>
        <id property="userId" column="user_id"/>
        <result property="role" column="role"
                typeHandler="org.scoula.common.typehandler.account.member.RoleTypeHandler"/>
        <result property="mainAccountId" column="main_account_id"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findAllGroupMembers" resultMap="accountMemberMap">
        SELECT a.account_id,
               a.user_id,
               u.name,
               a.role,
               a.main_account_id
        FROM account_member a
                 inner join users u on a.user_id = u.user_id
        where account_id = #{accountId}
    </select>

</mapper>