<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.account.group.GroupAccountMapper">
    <resultMap id="accountMap" type="org.scoula.domain.account.AccountVO">
        <id property="accountId" column="account_id"/>
        <result property="userId" column="user_id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountType" column="account_type"
                typeHandler="org.scoula.common.typehandler.account.AccountTypeTypeHandler"/>
        <result property="ownerId" column="owner_id"/>
        <result property="balance" column="balance"/>
        <result property="accountForeign" column="account_foreign"
                typeHandler="org.scoula.common.typehandler.account.AccountForeignTypeHandler"/>
        <result property="isDeleted" column="is_deleted"
                typeHandler="org.scoula.common.typehandler.account.DeletedStatusTypeHandler"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <insert id="createGroupAccount">
        INSERT into account(account_id, user_id, account_name, account_type, owner_id, balance, account_foreign,
                            is_deleted)
        VALUES (#{accountId}, #{userId}, #{accountName}, #{accountType}, #{ownerId}, #{balance}, #{accountForeign},
                #{isDeleted})
    </insert>

    <insert id="createGroupAccountMember">
        INSERT into account_member(account_id, user_id, role, main_account_id)
        VALUES (#{accountId}, #{userId}, #{role}, #{mainAccountId})
    </insert>

    <insert id="groupAccountJoin">
        INSERT into account_member(account_id, user_id, role, main_account_id)
        VALUES (#{accountId}, #{userId}, #{role}, #{mainAccountId})
    </insert>

    <select id="countGroupAccountsByDate" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM account
        WHERE DATE_FORMAT(created_at, '%Y%m%d') = #{datePart}
    </select>

    <select id="existsGroupId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM account
        WHERE account_id = #{account_id};
    </select>

    <select id="selectGroupAccountById" resultMap="accountMap">
        SELECT account_id,
               user_id,
               account_name,
               account_type,
               owner_id,
               balance,
               account_foreign,
               is_deleted,
               created_at,
               updated_at
        FROM account
        WHERE account_id = #{accountId}
    </select>

    <select id="selectUserName" resultType="java.lang.String">
        SELECT name
        FROM users
        WHERE user_id = #{userId}
    </select>
    <select id="searchJoinUser" resultType="java.lang.Integer">
        select count(*)
        from account_member
        where user_id = #{userId}
          and account_id = #{accountId};
    </select>
    <select id="validateAccountIsGroupAccount" resultType="java.lang.Integer">
        select count(*)
        from account
        where account_id = #{accountId}
          and account_type = "group";
    </select>
    <select id="existsAccountById" resultType="java.lang.Integer">
        SELECT count(*)
        FROM account
        WHERE account_id = #{account_id};
    </select>
    <select id="checkAccountDeletionStatus" resultType="java.lang.Integer">
        select count(*)
        from account
        where account_id = #{accountId}
          and is_deleted = 'N';
    </select>
</mapper>