<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.account.group.GroupAccountMapper">
    <resultMap id="accountMap" type="org.scoula.domain.account.AccountVO">
        <id property="accountId" column="account_id"/>
        <result property="userId" column="user_id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountType" column="account_type"
                typeHandler="org.scoula.common.typehandler.account.AccountTypeTypeHandler"/>
        <result property="ownerId" column="owner_id"/>
        <result property="balance" column="balance"/>
        <result property="accountCurrency" column="account_currency"/>
        <result property="isDeleted" column="is_deleted"
                typeHandler="org.scoula.common.typehandler.account.DeletedStatusTypeHandler"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <resultMap id="GroupAccountResultMap" type="org.scoula.domain.account.group.GroupAccountVO">
        <result property="userId" column="user_id"/>
        <result property="accountId" column="account_id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountType" column="account_type"
                typeHandler="org.scoula.common.typehandler.account.AccountTypeTypeHandler"/>
        <result property="ownerId" column="owner_id"/>
        <result property="balance" column="balance"/>
        <result property="accountCurrency" column="account_currency"/>
        <result property="isDeleted" column="is_deleted"
                typeHandler="org.scoula.common.typehandler.account.DeletedStatusTypeHandler"/>
        <result property="role" column="role"
                typeHandler="org.scoula.common.typehandler.account.member.RoleTypeHandler"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>


    <insert id="createGroupAccount">
        INSERT into account(account_id, user_id, account_name, account_type, owner_id, balance, account_currency,
                            is_deleted)
        VALUES (#{accountId}, #{userId}, #{accountName}, #{accountType}, #{ownerId}, #{balance}, #{accountCurrency},
                #{isDeleted})
    </insert>

    <insert id="createGroupAccountMember">
        INSERT into account_member(account_id, user_id, role, main_account_id)
        VALUES (#{accountId}, #{userId}, #{role}, #{mainAccountId})
    </insert>

    <insert id="groupAccountJoin">
        INSERT into account_member(account_id, user_id, role, main_account_id)
        VALUES (#{accountId}, #{userId}, #{role}, #{mainAccountId})
    </insert>

    <insert id="sendSettlementRequests" parameterType="list">
        INSERT INTO notification (user_id, title, content, noti_type, amount)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.title}, #{item.content}, #{item.notiType}, #{item.amount})
        </foreach>
    </insert>

    <select id="countGroupAccountsByDate" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM account
        WHERE DATE_FORMAT(created_at, '%Y%m%d') = #{datePart}
    </select>

    <select id="existsGroupId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM account
        WHERE account_id = #{account_id};
    </select>

    <select id="selectGroupAccountById" resultMap="accountMap">
        SELECT account_id,
               user_id,
               account_name,
               account_type,
               owner_id,
               balance,
               account_currency,
               is_deleted,
               created_at,
               updated_at
        FROM account
        WHERE account_id = #{accountId}
    </select>

    <select id="selectUserName" resultType="java.lang.String">
        SELECT name
        FROM users
        WHERE user_id = #{userId}
    </select>
    <select id="searchJoinUser" resultType="java.lang.Integer">
        select count(*)
        from account_member
        where user_id = #{userId}
          and account_id = #{accountId};
    </select>
    <select id="validateAccountIsGroupAccount" resultType="java.lang.Integer">
        select count(*)
        from account
        where account_id = #{accountId}
          and account_type = "group";
    </select>
    <select id="existsAccountById" resultType="java.lang.Integer">
        SELECT count(*)
        FROM account
        WHERE account_id = #{account_id};
    </select>
    <select id="checkAccountDeletionStatus" resultType="java.lang.Integer">
        select count(*)
        from account
        where account_id = #{accountId}
          and is_deleted = 'N';
    </select>

    <select id="getGroupAccountDetail" resultMap="GroupAccountResultMap">
        SELECT am.user_id,
               a.account_id,
               a.account_name,
               a.account_type,
               a.owner_id,
               a.balance,
               a.account_currency,
               a.is_deleted,
               am.role,
               a.created_at,
               a.updated_at
        FROM account a
                 JOIN account_member am ON a.account_id = am.account_id
        WHERE a.account_id = #{accountId}
          AND am.user_id = #{userId}
    </select>
    <select id="isGroupAccountUser" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM account a
                 JOIN account_member am ON a.account_id = am.account_id
        WHERE a.account_id = #{accountId}
          AND am.user_id = #{userId}
    </select>
    <select id="findAllByUserIdOrderByUpdatedAt" resultMap="GroupAccountResultMap">
        SELECT am.user_id,
               a.account_id,
               a.account_name,
               a.account_type,
               a.owner_id,
               a.balance,
               a.account_currency,
               a.is_deleted,
               am.role,
               a.created_at,
               a.updated_at
        FROM account a
                 JOIN account_member am ON a.account_id = am.account_id
        WHERE a.user_id = #{userId}
        ORDER BY a.updated_at DESC
    </select>


</mapper>