<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.account.group.GroupAccountMapper">

    <insert id="createGroupAccount">
        INSERT into account(account_id, user_id, account_name, account_type, owner_id, balance, account_foreign,
                            is_deleted)
        VALUES (#{accountId}, #{userId}, #{accountName}, #{accountType}, #{ownerId}, #{balance}, #{accountForeign},
                #{isDeleted})
    </insert>

    <insert id="createGroupAccountMember">
        INSERT into account_member(account_id, user_id, role, main_account_id)
        VALUES (#{accountId}, #{userId}, #{role}, #{mainAccountId})
    </insert>

    <select id="countGroupAccountsByDate" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM account
        WHERE DATE_FORMAT(created_at, '%Y%m%d') = #{datePart}
    </select>

    <select id="existsGroupId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM account
        WHERE account_id = #{account_id};
    </select>
    <select id="selectGroupAccountById" resultType="org.scoula.domain.account.AccountVO">
        SELECT account_id, account_name, created_at
        FROM account
        WHERE account_id = #{accountId}
    </select>
</mapper>