<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.identification.IdCardMapper">

    <resultMap id="idCardMap" type="org.scoula.domain.identification.IdCardVO">
        <id property="userId" column="user_id"/>
        <result property="idCardNum" column="id_card_num"/>
        <result property="idCardDate" column="id_card_date"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findById" resultMap="idCardMap">
        SELECT *
        FROM id_card
        WHERE user_id=#{userId}
    </select>

    <insert id="addResidentCardInfo" parameterType="org.scoula.domain.identification.IdCardVO">
        INSERT INTO id_card (
            user_id,
            name,
            id_card_num,
            address,
            id_card_date,
            img_url
        )
        VALUES (
                #{userId},
                #{name},
                #{idCardNum},
                #{address},
                #{idCardDate},
                #{imgUrl}
               )
    </insert>


</mapper>