<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.identification.PassportMapper">

    <resultMap id="passportMap" type="org.scoula.domain.identification.PassportVO">
        <id property="passportNumber" column="passport_number"/>
        <result property="userId" column="user_id"/>
        <result property="nameKr" column="name_kr"/>
        <result property="nameEn" column="name_en"/>
        <result property="birthDate" column="birth_date"/>
        <result property="gender" column="gender"/>
        <result property="countryCode" column="country_code"/>
        <result property="expireDate" column="expire_date"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findByUserId" resultMap="passportMap">
        SELECT *
        FROM passport
        WHERE user_id = #{userId}
    </select>

    <insert id="save" parameterType="org.scoula.domain.identification.PassportVO">
        INSERT INTO passport (
        passport_number,
        user_id,
        name_kr,
        name_en,
        birth_date,
        gender,
        country_code,
        expire_date,
        created_at,
        updated_at
        ) VALUES (
        #{passportNumber},
        #{userId},
        #{nameKr},
        #{nameEn},
        #{birthDate},
        #{gender},
        #{countryCode},
        #{expireDate},
        NOW(),
        NOW()
        )
    </insert>

</mapper>