<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.card.CardMapper">

    <resultMap id="cardMap" type="org.scoula.domain.card.CardVO">
        <id property="cardId" column="card_id"/>
        <result property="userId" column="user_id"/>
        <result property="accountId" column="account_id"/>
        <result property="cardNumber" column="card_number"/>
        <result property="cardName" column="card_name"/>
        <result property="cardNickname" column="card_nickname"/>
        <result property="field" column="field"/>
        <result property="isMainCard" column="is_main_card"/>
        <result property="cardImg" column="card_img"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="insertCard" parameterType="org.scoula.domain.card.CardVO">
        INSERT INTO card (
            user_id, account_id, card_number, card_name, card_img
        ) VALUES (
                     #{userId}, #{accountId}, #{cardNumber}, #{cardName}, #{cardImg}
                 )
    </insert>

    <select id="findByUserId" resultMap="cardMap">
        SELECT * FROM card WHERE user_id = #{userId}
    </select>

    <!-- 카드 요약 정보 조회 -->
    <select id="getCardSummaries" resultType="org.scoula.controller.card.dto.response.CardSummaryResponseDTO">
        SELECT
            card_id AS cardId,
            user_id AS userId,
            account_id AS accountId,
            card_name AS cardName,
            card_img AS cardImg,
            is_main_card AS isMainCard,
            card_nickname AS cardNickname
        FROM card
        WHERE user_id = #{userId}
    </select>

    <!-- 카드 상세 정보 조회 -->
    <select id="getCardDetails" resultType="org.scoula.controller.card.dto.response.CardDetailResponseDTO">
        SELECT
            card_id AS cardId,
            user_id AS userId,
            account_id AS accountId,
            card_number AS cardNumber,
            card_name AS cardName,
            card_nickname AS cardNickname,
            field,
            is_main_card AS isMainCard
        FROM card
        WHERE user_id = #{userId}
    </select>

</mapper>