<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.exchange.ExchangeRateApiMapper">

    <resultMap id="exchangeRateMap" type="org.scoula.domain.exchange.ExchangeRateVO">
        <id property="exchangeRateId" column="exchange_rate_id"/>
        <result property="currencyCode" column="currency_code"/>
        <result property="currencyName" column="currency_name"/>
        <result property="baseExchangeRate" column="base_exchange_rate"/>
        <result property="rateBuy" column="rate_buy"/>
        <result property="rateSell" column="rate_sell"/>
        <result property="exchangeRateDate" column="exchange_rate_date"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <insert id="save" useGeneratedKeys="true" keyProperty="exchangeRateId">
        insert into exchange_rate ( currency_code, currency_name, base_exchange_rate, rate_buy, rate_sell, exchange_rate_date, created_at, updated_at)
        values ( #{currencyCode}, #{currencyName}, #{baseExchangeRate}, #{rateBuy}, #{rateSell}, #{exchangeRateDate}, #{createdAt}, #{updatedAt})
    </insert>


</mapper>