<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.exchange.ExchangeRateMapper">

    <resultMap id="exchangeRateMap" type="org.scoula.domain.exchange.ExchangeRateVO">
        <id property="exchangeRateId" column="exchange_rate_id"/>
        <result property="currencyCode" column="currency_code"/>
        <result property="currencyName" column="currency_name"/>
        <result property="baseExchangeRate" column="base_exchange_rate"/>
        <result property="rateBuy" column="rate_buy"/>
        <result property="rateSell" column="rate_sell"/>
        <result property="exchangeRateDate" column="exchange_rate_date"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <select id="getExchangeRateList" resultType="org.scoula.domain.exchange.ExchangeRateVO">
        select exchange_rate_id, currency_code, currency_name, base_exchange_rate, rate_buy, rate_sell, exchange_rate_date from exchange_rate
    </select>

    <!-- 환전 기능 -->
    <select id="findTodayRateByCurrencyCode" resultType="java.lang.Double">
        select base_exchange_rate
        from exchange_rate
        where currency_code = #{currencyCode} and exchange_rate_date = #{exchangeRateDate}
    </select>
    <select id="findKrwBalanceByAccountId" resultType="java.lang.Long">
        select balance
        from account
        where account_id = #{accountId}
    </select>
    <select id="findForeignBalanceByAccountIdAndCurrency" resultType="java.lang.Double">
        select balance
        from foreign_account_balance
        where account_id = #{accountId}
        and currency_code = #{currencyCode}
    </select>

    <select id="getAccountList" resultType="org.scoula.controller.exchange.dto.response.AccountListDTO">
        select account_id, account_name, balance, account_foreign
        from account
        where user_id = #{userId}
        and is_deleted = 'false'
        and account_foreign = 'kor'
    </select>


</mapper>