<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.exchange.ExchangeLogMapper">
    <resultMap id="exchangeLogMap" type="org.scoula.domain.exchange.ExchangeLogVO">
        <id property="exchangeId" column="exchange_id"/>
        <result property="accountId" column="account_id"/>
        <result property="amountKRW" column="amount_krw"/>
        <result property="amountForeign" column="amount_foreign"/>
        <result property="appliedExchangeRate" column="applied_exchange_rate"/>
        <result property="nation" column="nation"/>
        <result property="currencyCode" column="currency_code"/>
        <result property="exchangeType" column="exchange_type"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
</mapper>