<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.transaction.TransactionMapper">

    <resultMap id="transactionMap" type="org.scoula.domain.transaction.TransactionVO">
        <id property="transactionId" column="transaction_id"/>
        <result property="accountId" column="account_id"/>
        <result property="userId" column="user_id"/>
        <result property="transactionType" column="transaction_type"
                typeHandler="org.scoula.common.typehandler.transaction.TransactionTypeTypeHandler"/>
        <result property="amount" column="amount"/>
        <result property="title" column="title"/>
        <result property="category" column="category"
                typeHandler="org.scoula.common.typehandler.transaction.TransactionCategoryTypeHandler"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="balanceAfter" column="balance_after"/>
        <result property="status" column="status"
                typeHandler="org.scoula.common.typehandler.transaction.TransactionStatusTypeHandler"/>
        <result property="currencyCode" column="currency_code"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getAccountTransaction"
            resultMap="transactionMap">
        SELECT account_id,
               user_id,
               transaction_id,
               transaction_type,
               amount,
               title,
               category,
               latitude,
               longitude,
               balance_after,
               status,
               currency_code,
               created_at,
               updated_at
        FROM transaction
        WHERE account_id = #{accountId}
        ORDER BY created_at DESC
    </select>
    <select id="filterAccountTransactions" resultType="org.scoula.domain.transaction.TransactionVO">
        SELECT account_id,
               user_id,
               transaction_id,
               transaction_type,
               amount,
               title,
               category,
               latitude,
               longitude,
               balance_after,
               status,
               currency_code,
               created_at,
               updated_at
        FROM transaction
        WHERE account_id = #{accountId}
          and transaction_type = #{transactionType}
        ORDER BY created_at DESC
    </select>

</mapper>