<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.account.AccountMapper">

    <resultMap id="accountMap" type="org.scoula.domain.account.AccountVO">
        <id property="accountId" column="account_id"/>
        <result property="userId" column="user_id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountType" column="account_type"
                typeHandler="org.scoula.common.typehandler.account.AccountTypeTypeHandler"/>
        <result property="ownerId" column="owner_id"/>
        <result property="balance" column="balance"/>
        <result property="accountCurrency" column="account_currency"/>
        <result property="isDeleted" column="is_deleted"
                typeHandler="org.scoula.common.typehandler.account.DeletedStatusTypeHandler"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="saveAccount">
        INSERT INTO account (account_id, user_id, account_name, account_type, owner_id, balance, account_currency, is_deleted)
        VALUES (#{accountId}, #{userId}, #{accountName}, #{accountType}, #{ownerId}, #{balance}, #{accountCurrency}, #{isDeleted})
    </insert>

    <select id="existsByAccountId" resultType="boolean" parameterType="string">
        SELECT EXISTS (
            SELECT 1 FROM account WHERE account_id = #{accountId}
        )
    </select>

    <select id="findAllByUserIdOrderByUpdatedAt" resultMap="accountMap" parameterType="long">
        SELECT *
        FROM account
        WHERE user_id = #{userId}
        ORDER BY updated_at DESC
    </select>
</mapper>