<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.travel.TravelLogMapper">

    <resultMap id="travelLogMap" type="org.scoula.domain.travel.TravelLogVO">
        <id property="travelId" column="travel_id"/>
        <result property="userId" column="user_id"/>
        <result property="accountId" column="account_id"/>
        <result property="title" column="title"/>
        <result property="travelBeginDate" column="travel_begin_date"/>
        <result property="travelEndDate" column="travel_end_date"/>
        <result property="destination" column="destination"/>
        <result property="isGenerated" column="is_generated"/>
        <result property="travelImg" column="travel_img"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getAllTravelLogs" parameterType="long" resultType="map">
        SELECT
            t.travel_id AS travelId,
            t.user_id AS userId,
            t.account_id AS accountId,
            t.title,
            t.travel_begin_date AS travelBeginDate,
            t.travel_end_date AS travelEndDate,
            t.destination,
            t.is_generated AS isGenerated,
            t.travel_img AS travelImg,
            t.created_at AS createdAt,
            t.updated_at AS updatedAt,
            IFNULL(COUNT(m.user_id), 0) AS memberCount
        FROM travel_log t
                 LEFT JOIN account_member m ON t.travel_id = m.travel_id
        WHERE t.user_id = #{userId}
        GROUP BY t.travel_id
        ORDER BY t.travel_begin_date DESC
    </select>

    <select id="countOverlappingTravelLogs" resultType="int">
    <![CDATA[
        SELECT COUNT(1)
        FROM travel_log tl
        WHERE tl.user_id = #{userId}
          AND NOT (
            tl.travel_end_date   < #{begin}
                OR  tl.travel_begin_date > #{end}
            )
        ]]>
  </select>

    <insert id="save" parameterType="org.scoula.domain.travel.TravelLogVO" useGeneratedKeys="true" keyProperty="travelId">
        INSERT INTO travel_log (
            user_id, account_id, title, travel_begin_date, travel_end_date,
            destination, is_generated, travel_img,
            created_at, updated_at
        )
        VALUES (
                   #{userId}, #{accountId}, #{title}, #{travelBeginDate}, #{travelEndDate},
                   #{destination}, #{isGenerated}, #{travelImg},
                   NOW(), NOW()
               )
    </insert>

    <select id="findByTravelId" resultMap="travelLogMap">
        SELECT *
        FROM travel_log
        WHERE travel_id = #{travelId}
    </select>

    <select id="selectLastInsertId" resultType="long">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="existsAvailableGroupAccount" parameterType="Long" resultType="int">
        SELECT EXISTS (
            SELECT 1
            FROM account ga
            WHERE ga.user_id = #{userId}
              AND ga.account_type = 'group'
              AND ga.is_deleted = 'N'
              AND NOT EXISTS (
                SELECT 1
                FROM travel_log tl
                WHERE tl.account_id = ga.account_id
            )
        ) AS exists_flag
    </select>



</mapper>