<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.travel.TravelLogMapper">

    <resultMap id="travelLogMap" type="org.scoula.domain.travel.TravelLogVO">
        <id property="travelId" column="travel_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="travelBeginDate" column="travel_begin_date"/>
        <result property="travelEndDate" column="travel_end_date"/>
        <result property="destination" column="destination"/>
        <result property="isGenerated" column="is_generated"/>
        <result property="travelImg" column="travel_img"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getAllTravelLogs" parameterType="long" resultType="org.scoula.domain.travel.TravelLogVO">
        SELECT
            t.travel_id AS travelId,
            t.user_id AS userId,
            t.title,
            t.travel_begin_date AS travelBeginDate,
            t.travel_end_date AS travelEndDate,
            t.destination,
            t.is_generated AS isGenerated,
            t.travel_img AS travelImg,
            t.created_at AS createdAt,
            t.updated_at AS updatedAt,
            IFNULL(COUNT(m.user_id), 0) AS memberCount
        FROM travel_log t
                 LEFT JOIN account_member m ON t.travel_id = m.travel_id
        WHERE t.user_id = #{userId}
        GROUP BY t.travel_id
        ORDER BY t.travel_begin_date DESC
    </select>


</mapper>