<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.travel.TravelReportMapper">

    <resultMap id="travelReportMap" type="org.scoula.domain.travel.TravelReportVO">
        <id property="settlementId" column="settlement_id"/>
        <result property="accountId" column="account_id"/>
        <result property="userId" column="user_id"/>
        <result property="travelId" column="travel_id"/>
        <result property="totalExpense" column="total_expense"/>
        <result property="totalFood" column="total_food"/>
        <result property="totalActivity" column="total_activity"/>
        <result property="totalAcc" column="total_acc"/>
        <result property="totalTransport" column="total_transport"/>
        <result property="totalShop" column="total_shop"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getTravelReport" resultType="org.scoula.domain.travel.TravelReportVO">
        SELECT
            tr.settlement_id AS settlementId,
            tr.account_id AS accountId,
            tr.user_id AS userId,
            tl.travel_id AS travelId,
            tl.destination,
            DATE_FORMAT(tl.travel_begin_date, '%Y-%m-%d') AS travelBeginDate,
            DATE_FORMAT(tl.travel_end_date, '%Y-%m-%d') AS travelEndDate,
            tr.total_expense AS totalExpense,
            tr.total_food AS totalFood,
            tr.total_activity AS totalActivity,
            tr.total_acc AS totalAcc,
            tr.total_transport AS totalTransport,
            tr.total_shop AS totalShop,
            tx.title AS maxSpendingTitle,
            tx.amount AS maxSpendingAmount
        FROM travel_log tl
                 JOIN travel_report tr ON tl.travel_id = tr.travel_id
                 LEFT JOIN (
            SELECT t.account_id, t.title, t.amount, t.created_at
            FROM transaction t
            WHERE t.transaction_type = '지출'
            ORDER BY t.amount DESC
                LIMIT 1
        ) tx
                           ON tx.account_id = tr.account_id
                               AND tx.created_at BETWEEN tl.travel_begin_date AND tl.travel_end_date
        WHERE tl.travel_id = #{travelId}
    </select>

<!--    <select id="selectTravelLogInfo" resultType="org.scoula.domain.travel.TravelLogInfoVO">-->
<!--        SELECT-->
<!--            tl.travel_id           AS travelId,-->
<!--            tl.user_id             AS userId,-->
<!--            tl.account_id          AS accountId,-->
<!--            tl.travel_begin_date   AS travelBeginDate,-->
<!--            tl.travel_end_date     AS travelEndDate-->
<!--        FROM travel_log tl-->
<!--        WHERE tl.travel_id = #{travelId}-->
<!--            LIMIT 1-->
<!--    </select>-->

<!--    <select id="selectExpenseSummary" parameterType="map"-->
<!--            resultType="org.scoula.domain.travel.TravelReportVO">-->
<!--        SELECT-->
<!--            COALESCE(SUM(CASE WHEN t.transaction_type = 'withdraw'-->
<!--                                  THEN ABS(t.amount) ELSE 0 END), 0) AS totalExpense,-->
<!--            COALESCE(SUM(CASE WHEN t.transaction_type = 'withdraw'-->
<!--                AND LOWER(t.category) = 'food'-->
<!--                                  THEN ABS(t.amount) ELSE 0 END), 0) AS totalFood,-->
<!--            COALESCE(SUM(CASE WHEN t.transaction_type = 'withdraw'-->
<!--                AND LOWER(t.category) = 'activity'-->
<!--                                  THEN ABS(t.amount) ELSE 0 END), 0) AS totalActivity,-->
<!--            COALESCE(SUM(CASE WHEN t.transaction_type = 'withdraw'-->
<!--                AND LOWER(t.category) = 'acc'-->
<!--                                  THEN ABS(t.amount) ELSE 0 END), 0) AS totalAcc,-->
<!--            COALESCE(SUM(CASE WHEN t.transaction_type = 'withdraw'-->
<!--                AND LOWER(t.category) = 'transport'-->
<!--                                  THEN ABS(t.amount) ELSE 0 END), 0) AS totalTransport,-->
<!--            COALESCE(SUM(CASE WHEN t.transaction_type = 'withdraw'-->
<!--                AND LOWER(t.category) = 'shop'-->
<!--                                  THEN ABS(t.amount) ELSE 0 END), 0) AS totalShop-->
<!--        FROM `transaction` t-->
<!--        WHERE t.account_id = #{param.accountId}-->
<!--          AND t.user_id    = #{param.userId}-->
<!--          AND t.created_at BETWEEN #{param.startDateTime} AND #{param.endDateTime}-->
<!--    </select>-->

<!--    &lt;!&ndash; travel_report 저장 &ndash;&gt;-->
<!--    <insert id="insertTravelReport"-->
<!--            parameterType="org.scoula.domain.travel.TravelReportVO"-->
<!--            useGeneratedKeys="true" keyProperty="settlementId">-->
<!--        INSERT INTO travel_report(-->
<!--            account_id, user_id, travel_id,-->
<!--            total_expense, total_food, total_activity, total_acc, total_transport, total_shop-->
<!--        ) VALUES (-->
<!--                     #{accountId}, #{userId}, #{travelId},-->
<!--                     #{totalExpense}, #{totalFood}, #{totalActivity}, #{totalAcc}, #{totalTransport}, #{totalShop}-->
<!--                 )-->
<!--    </insert>-->


</mapper>