<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.travel.TravelLogMapper">

    <resultMap id="travelLogMap" type="org.scoula.domain.travel.TravelLogVO">
        <id property="travelId" column="travel_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="travelBeginDate" column="travel_begin_date"/>
        <result property="travelEndDate" column="travel_end_date"/>
        <result property="destination" column="destination"/>
        <result property="isGenerated" column="is_generated"/>
        <result property="travelImg" column="travel_img"/>
        <!-- BaseTime -->
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getAllTravelLogs" parameterType="long" resultType="org.scoula.domain.travel.TravelLogVO">
        SELECT
            travel_id AS travelId,
            user_id AS userId,
            title,
            travel_begin_date AS travelBeginDate,
            travel_end_date AS travelEndDate,
            destination,
            is_generated AS isGenerated,
            travel_img AS travelImg,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM travel_log
        WHERE user_id = #{userId}
        ORDER BY travel_begin_date DESC
    </select>


</mapper>